[Unit]
Description=Zabbix Web Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/zabbix_web_service -f
User=zabbix-web-service

[Install]
WantedBy=multi-user.target
