[Unit]
Description=Prometheus Unbound Exporter
After=network.target
Wants=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=1s
EnvironmentFile=-/etc/conf.d/prometheus-unbound-exporter
ExecStart=/usr/bin/prometheus-unbound-exporter $UNBOUND_EXPORTER_ARGS
NoNewPrivileges=true
ProtectHome=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
