[Unit]
Description=KlipperScreen
After=moonraker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/xinit /usr/bin/python /opt/klipperscreen/screen.py

[Install]
WantedBy=multi-user.target

