[Desktop Entry]
Version=1.0
Type=Application
Name=Mattermost
Comment=Mattermost Desktop Application
Exec=mattermost-desktop %U
Icon=mattermost-desktop
Terminal=false
StartupWMClass=Mattermost
MimeType=x-scheme-handler/mattermost;
Categories=Network;InstantMessaging;
