[Unit]
Description=Proxy that allows tcp connections to serial ports
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ser2net -n

[Install]
WantedBy=multi-user.target

