[Unit]
Description=Prometheus exporter for IPMI metrics
Documentation=https://github.com/prometheus-community/ipmi_exporter
Requires=network-online.service
After=network-online.service

[Service]
ExecStart=/usr/bin/prometheus-ipmi-exporter --config.file=/etc/prometheus/ipmi-exporter.yml
User=prometheus-ipmi-exporter
Group=prometheus-ipmi-exporter
Restart=always

[Install]
WantedBy=multi-user.target

